/*Un élément avec position: relative 
est positionné par rapport à sa position normale*/

/*Un élément avec position: absolute 
est positionné par rapport à l'ancêtre positionné le plus proche*/

body{
    background-color: #F8E6C8 ;
}


/*style du logo*/
div#logo{
    font-size: 24px;
    color: white;
    background-color: orange;
    height: 80px;
    width: 12%;
    text-align: left;
    /*text-decoration : enleve soulignement des lien*/
    text-decoration: none;
    padding-left: 0px;
    margin: 0 0 0px;

}

div#nav {
    position: absolute;
    right: 150px;
    height: 40px;
    
    width: 100%;
    text-align: center;
}
div#nav ul {
    margin: 0;
    padding: 0;
    display: inline-block;
}


/* aligner les puces horizontalement
display : inline*/

/* box Lorem1 | ...*/
div#nav ul li{
    
    display: inline;
    padding-right: 10px;
    border-right: black solid;
}





div#nav ul li a{
    display: inline;
    color: gray;
    text-decoration: none;
    font-family: monospace;
    font-size: 15px;
    font-weight: bold;
   
    border-bottom-width: 0;
    position: relative;
    z-index: 2;
    
}

/*mettre texte en orange + souligner quand on survole le lien*/
div#nav ul li a:hover{
    border-bottom: 0;
    color: orange;
    text-decoration:underline;
    
}


div.nav ul li a:visited{

    z-index: 2;
    background-color: #CAF977;
    border-bottom: 0;

   

}


h1 strong{

    font-family: monospace;
    font-size: 24px;
    color: orange;
    text-align: left;
  
    padding-left: 10px;
    margin: 0 0 10 0px;
}

h2{
    font-size: 16px;
    font-family: monospace;
    font-weight: lighter;
    padding-left: 10px;
    text-transform: uppercase;

}



/*div image*/
#boxr{
    width: 216px;
    
    border: 0.5rem white solid ;
    
    position: absolute;
   
    top: auto;
    right: 2%;
    height: 288px;
    padding-top: 0px ;
    
}


div#content{
  
    z-index: 1;
    padding: 1em;
    border: dashed 2px #406480;
    /* Preferable d utiliser la position abosulut ou relative plutot que float*/
    position: absolute;
    top : 20%;
    width: 65%;
   
    margin-left: 10px;
    margin-top: 5px;
}   

div#footer{
        /*fixed --> fixer le footer sur le pied de page*/
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: white;
        color: white;
        text-align: left;
      
    
    
}

/*couleur lien du footer a finir*/

/*Modifier dimension image*/